body {
    background-image: url(https://res.cloudinary.com/satie/image/upload/c_fill,f_auto,q_auto/nature/StokKangri03_fullbleed );
    background-position: right center;
    height: 100vh;
    background-size: 200% auto;
}

.desc {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    color: white;
}