body {
    background-image: url(https://raw.githubusercontent.com/satie/ladakh/master/assets/images/nature/NunKunSunrise01.jpg);
    background-position: right center;
    background-size: 200% auto;
}
