body {
    background-image: url(https://res.cloudinary.com/satie/image/upload/c_fill,f_auto,q_auto/nature/TsoKar_Storm01_fullbleed );
    background-position: left center;
    height: 100vh;
    background-size: 200% auto;
}

figcaption-left-bottom20 {
    position: absolute;
    bottom: 20vh;
    left: 5vw;
    background: rgba(0, 0, 0, 0.3);
    padding: 1vw;
    border-radius: 1vw;
    /* width: 80%; */
    color: #ffd;
    font-size: 3.5vw;
}