body {
    background-image: url(https://raw.githubusercontent.com/satie/ladakh/master/assets/images/Maitreya_Thikse01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    /*background-size: 100% 100% ;*/
}
