body {
    background-image: url(https://res.cloudinary.com/satie/image/upload/c_fill,f_auto,q_auto/v1517158333/misc/satiesharma);
    background-position: right center;
    height: 100vh;
    background-size: 200% 100%;
    color: white;
}
