body {
    background-image: url(https://raw.githubusercontent.com/satie/ladakh/master/assets/images/nature/TsoKar_Storm01_fullbleed.jpg);
    background-position: right center;
    height: 100vh;
    background-size: 200% 100%;
}
