body {
    background-image: url(https://raw.githubusercontent.com/satie/ladakh/master/assets/images/Maitreya_Thikse01.jpg);
    background-position: left center;
    height: 100vh;
    width: 100vw;
    background-size: 200% 100%;
}
