html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.face:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url(https://res.cloudinary.com/satie/image/upload/c_fill,f_auto,q_auto/v1517241523/nature/PangongSunset01);
    background-position: center center;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(5px);
    filter: blur(0px);
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.face {
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}

/*
.face:hover::before {
    -webkit-filter: blur(2px) grayscale(90%) brightness(99%);
    -moz-filter: blur(2px) grayscale(90%) brightness(99%);
    -o-filter: blur(2px) grayscale(90%) brightness(99%);
    -ms-filter: blur(2px) grayscale(90%) brightness(99%);
    filter: blur(2px) grayscale(90%) brightness(99%);
}
*/

.top {
    height: 40vh;
    width: 100vw;
    text-align: center;
    margin-top: 30vh;
}

.bottom {
    height: 30vh;
    width: 100vw;
    text-align: center;
}


.title {
    font-size: 25vw;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.subtitle {
    font-size: 5vw;
    margin-top: -5vw;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 4vw;
}
.red {
	background: red;
}