<<<<<<< HEAD
=======
body {
    background-image: url(../../assets/images/spiritual/SandMandala_Monk03_fullbleed.jpg);
    background-position: left center;
    height: 100vh;
    background-size: 200% 100%;
}
>>>>>>> b19e5a13e19f6f9ac91fcbb63de6229152826e20
