body {
    background-image: url(https://raw.githubusercontent.com/satie/ladakh/master/assets/images/wildlife/TibetanWildAss_Family01.jpg);
    background-position: right center;
    height: 100vh;
    background-size: 200% 100%;
}
