body {
    background-image: url(https://raw.githubusercontent.com/satie/ladakh/master/assets/images/wildlife/TibetanSandgrouse01_fullbleed.jpg);
    background-position: left center;
    height: 100vh;
    background-size: 200% 100%;
}
