body {
    background-image: url(https://raw.githubusercontent.com/satie/ladakh/master/assets/images/nature/TsoKarHorns01.jpg);
    background-position: left center;
    background-size: 200% 100%;
    height: 100vh;
}
