body {
    background-image: url(https://res.cloudinary.com/satie/image/upload/c_fill,f_auto,q_auto/v1517241513/nature/BusToKargil01_fullbleed );
    background-position: right center;
    height: 100vh;
    background-size: 200% 100%;
    color: white;
}


figcaption {
    position: absolute;
    bottom: 20vh;
    right: 2vw;
    background: rgba(0, 0, 0, 0.3);
    padding: 3vw;
    border-radius: 1vw;
    width: 80%;
    color: #ffd;
}
