body {
    background-image: url(https://github.com/satie/ladakh/blob/master/assets/images/wildlife/OrientalTurtleDove01.jpg);
    background-position: left center;
    background-size: 200% 100%;
    height: 100vh;
}
